<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>喜迎中秋</title>
	<link rel="stylesheet" type="text/css" href="./../css/common.css">
	<link rel="stylesheet" type="text/css" href="./../css/index.css">
</head>
<body>
	<div class="app">
		<div class="wrapper">
			<div class="nav">
				<img src="./../images/homepage/中秋.png">
				<img src="./../images/homepage/autumn.png">
				<a href="#" class = "first">中秋主题1</a>
				<a href="#">中秋主题2</a>
				<a href="#">保留主题</a>
			</div>

			<div class="carousel">
				<div class="train">
					<img src="./../images/homepage/carousel1.jpg">
					<img src="./../images/homepage/carousel2.jpg">
					<img src="./../images/homepage/carousel3.jpg">
					<img src="./../images/homepage/carousel1.jpg">
					<img src="./../images/homepage/carousel2.jpg">
					<img src="./../images/homepage/carousel3.jpg">
					<div class="abso">
						<h1>预留一大段文字巴拉巴拉巴拉巴拉巴拉</h1>
						<p>预留一段介绍巴拉巴拉</p>
					</div>
					<div class="abso2 abso">
						<h1>预留一大段文字巴拉巴拉巴拉巴拉巴拉</h1>
						<p>预留一段介绍巴拉巴拉</p>
					</div>
					<div class="abso3 abso">
						<h1>预留一大段文字巴拉巴拉巴拉巴拉巴拉</h1>
						<p>预留一段介绍巴拉巴拉</p>
					</div>
					<div class="abso4 abso">
						<h1>预留一大段文字巴拉巴拉巴拉巴拉巴拉</h1>
						<p>预留一段介绍巴拉巴拉</p>
					</div>
				</div>
				<div class = "dots">
					<ul>
						<li class = "cur"></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="dir">
						<div class="left"></div>
						<div class="right"></div>
				</div>
			</div>

			<div class="video">
				<video src = "./../videos/bandicam 2017-09-09 11-23-45-907.mp4" autoplay=true loop = false></video>
				<img src="./../images/homepage/pause.png" class = "pause">
			</div>

			<div class="origin">
				<a href="#">中秋起源</a>
				<div class = "underline"></div>
				<div class = "origin-left"></div>
				<div class = "origin-right"></div>
			</div>

			<div class="custom"></div>
			<div class="legend"></div>
			<div class="document"></div>
			<div class="foot"></div>
		</div>
	</div>
	<script type="text/javascript" src = "./../js/common.js"></script>
	<script type="text/javascript" src = "./../js/index.js"></script>
</body>
</html>